body {
	background-color: #F7D5B1;
}

#heading {
	color: #E7B2B5;
	font-size: 1.8em;
	font-family:'Pacifico', cursive;
	text-align: center;
}
#homepage {
	float: right;
	width: 100%;
	background-color:#F7E3CD;
	padding: 1em;
	
}
#contentRow {
	background-color: lightgrey;
	width: 100%;
	margin: 0 10%;
	float: center;
}
.homepageContent {
	float: left;
	width: 20%;
	margin: .1em;
	color: #E7B2B5;
	display: inline-block;
	padding-right: 4em;
	padding-left: 1.5em;
	padding-bottom: 0em;	
}	
#secondRow {
	
}
#aboutinfo {
	clear: both;
	
}
#menuBar {
	background-color: lightgrey;
	width: 100%;
	margin: 0 10%;
	float: center;
}
#aboutInfo {
	float: center;
	width: 100%;
	background-color:#F7E3CD;
	padding: 5em;
	font-family: 'Quicksand', sans-serif;
	text-indent: -20px;
}
a {
	color:#E7B2B5;
	font-size:1.5em;
	font-family: 'Quicksand', sans-serif;
}